# Ignore local data and study materials
/data/
/Paper/
/results/Validation/best_model/
/results/Validation/domain_adapted_bert/




# Caches and temp
**/__pycache__/
**/.ipynb_checkpoints/
**/.pickle
**/.pkl
**/.npz
**/.npy
**/.tmp
**/.log
**/.pt
**/.bin
**/.ckpt
**/.onnx
**/.gz
**/.zip
**/.DS_Store